@import "libs/variables";
@import "libs/button";
@import "libs/header";
@import "libs/footer";
@import "libs/fonts";
@import "libs/popups";
@import 'libs/normalize.scss';

body {
    position: relative;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: $title_color;

    &.hiden {
        height: 100vh;
        overflow: hidden;
    }
}

html {
    box-sizing: border-box;
    position: relative;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: $title_color;
}

*:before,
*:after {
    box-sizing: inherit;
}

.wrapper {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1920px;
}

.main {
    @media (min-width: 768px) {
        padding-left: 80px;
    }

    @media (min-width: 1440px) {
        padding-left: 142px;
    }
}

img {
    max-width: 100%;
    height: auto;
}

ul li,
ol li {
    margin: 0;
}

input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

button {
    cursor: pointer;
}

.clearfix {
    &:after {
        content: " ";
        visibility: hidden;
        display: block;
        font-size: 0;
        clear: both;
        height: 0;
    }
}

a {
    cursor: pointer;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;

    @media (min-width: 768px) {
        padding: 0;
        padding-right: 20px;
    }
}

h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
}