<div class="action-footer">
    <a href="javascript:void(0);" class="go-top"></a>
    <a href="javascript:void(0);" class="message"></a>
</div>
<footer class="footer">
    <div class="logo">
        <a href="index.html"><img alt="" src="img/Logo-footer.png"></a>
    </div>
    <div class="column">
        <a href="payment.html">Оплата</a>
        <a href="delivery.html">Доставка</a>
        <a href="about.html">О компании</a>
        <a href="#" class="show-order">Как сделать заказ</a>
        <a href="#" class="show-mounting">Монтаж</a>
        <a href="contacts.html">Контакты</a>
    </div>
    <div class="footer-bottom">
        <span>Официальный сайт
            компании «РусГрадСтрой»
            © 2006-2019</span>
        <span class="address">
            127591, г. Москва,Керамический проезд дом 53, корпус 1, офис 2
        </span>
    </div>
</footer>