<header class="header" id="header">
    <div class="clearfix">
        <nav class="nav-mobile">
            <div class="logo">
                <a href="index.html"><img alt="" src="img/Logo.png"></a>
            </div>
            <div class="contacts">
                <a href="tel:+74956423381 " class="telephone">+7 (495) 642-33-81 </a>
                <a href="mail-to:sm@rgstroy.ru" class="mail">sm@rgstroy.ru</a>
                <span class="schedule">Пн-Пт 9:00 - 18:00</span>
            </div>
        </nav>
        <div class="menu-mobile">
            <nav>
                <ul>
                    <li><a href="payment.html" class="">Оплата</a></li>
                    <li><a href="delivery.html" class="">Доставка</a></li>
                    <li><a href="about.html" class="">О компании</a></li>
                    <li><a href="#" class="show-order">Как сделать заказ</a></li>
                    <li><a href="contacts.html" class="">Контакты</a></li>
                </ul>
            </nav>
        </div>
        <div class="fixed-block">
            <a href="javascript:void(0);" class="show-catalog"><img src="img/menu-icon-1.svg"
                    alt=""><span>Каталог</span></a>
            <a href="#" class="show-mounting"><img src="img/menu-icon-2.svg" alt=""><span>Монтаж</span></a>
            <a href="search.html"><img src="img/menu-icon-3.svg" alt=""><span>Поиск</span></a>
        </div>
        <span class="open-menu">
            <span></span>
        </span>
        <nav class="desctop-holder">
            <ul>
                <li><a href="payment.html" class="">Оплата</a></li>
                <li><a href="delivery.html" class="">Доставка</a></li>
                <li><a href="about.html" class="">О компании</a></li>
                <li><a href="#" class="show-order">Как сделать заказ</a></li>
                <li><a href="contacts.html" class="">Контакты</a></li>
            </ul>
        </nav>
    </div>
    <div class="basket">
        <a href="basket.html">
            <span>4</span>
            <img src="img/basket.svg" class="mobile" alt="">
            <img src="img/basket-2.svg" class="desctop" alt="">
        </a>
    </div>
</header>