<div class="popup-mounting">
    <span class="close"></span>
    <div class="heading">
        <div class="logo">
            <a href="index.html">
                <img src="img/Logo-inverse.png" alt="">
            </a>
        </div>
        <div class="heading-title">
            <h2>Монтаж</h2>
        </div>
    </div>
    <div class="list">
        <div class="list-item">
            <a href="card-product.html" class="link-page"></a>
            <span class="title">Фундаментные
                балки (БФ)</span>
            <div class="content">
                <p>
                    Перемычки ПБ, ПП, ПГ используют в строительстве каменных, кирпичных домов для перекрытия проемов
                    окон, дверей и других технологических проемов.
                </p>
                <div class="image">
                    <img src="img/icon-2.svg" class="yellow" alt="">
                    <img src="img/icon-2-hover.svg" class="hover yellow" alt="">
                    <img src="img/SVG-1.svg" alt="" class="white">
                    <img src="img/SVG-1h.svg" class="hover white" alt="">
                </div>
            </div>
        </div>
        <div class="list-item">
            <a href="card-product.html" class="link-page"></a>
            <span class="title">Плиты перекрытия (ПК)</span>
            <div class="content">
                <p>
                    Перемычки ПБ, ПП, ПГ используют в строительстве каменных, кирпичных домов для перекрытия проемов
                    окон, дверей и других технологических проемов.
                </p>
                <div class="image">
                    <img src="img/icon-1.svg" alt="" class="yellow">
                    <img src="img/icon-1-hover.svg" class="hover yellow" alt="">
                    <img src="img/SVG-2.svg" alt="" class="white">
                    <img src="img/SVG-2h.svg" class="hover white" alt="">
                </div>
            </div>
        </div>
        <div class="list-item">
            <a href="card-product.html" class="link-page"></a>
            <span class="title">Фундаментные
                блоки (ФБС)</span>
            <div class="content">
                <p>
                    Перемычки ПБ, ПП, ПГ используют в строительстве каменных, кирпичных домов для перекрытия проемов
                    окон, дверей и других технологических проемов.
                </p>
                <div class="image">
                    <img src="img/icon-3.svg" alt="" class="yellow">
                    <img src="img/icon-3-hover.svg" class="hover yellow" alt="">
                    <img src="img/SVG-3.svg" alt="" class="white">
                    <img src="img/SVG-3h.svg" class="hover white" alt="">
                </div>
            </div>
        </div>
        <div class="list-item">
            <a href="card-product.html" class="link-page"></a>
            <span class="title">Перемычки</span>
            <div class="content">
                <p>
                    Перемычки ПБ, ПП, ПГ используют в строительстве каменных, кирпичных домов для перекрытия проемов
                    окон, дверей и других технологических проемов.
                </p>
                <div class="image">
                    <img src="img/icon-2.svg" alt="" class="yellow">
                    <img src="img/icon-2-hover.svg" class="hover yellow" alt="">
                    <img src="img/SVG-4.svg" alt="" class="white">
                    <img src="img/SVG-4h.svg" class="hover white" alt="">
                </div>
            </div>
        </div>
        <div class="list-item">
            <a href="card-product.html" class="link-page"></a>
            <span class="title">Фундаментные
                подушки (ФЛ)</span>
            <div class="content">
                <p>
                    Перемычки ПБ, ПП, ПГ используют в строительстве каменных, кирпичных домов для перекрытия проемов
                    окон, дверей и других технологических проемов.
                </p>
                <div class="image">
                    <img src="img/icon-2.svg" alt="" class="yellow">
                    <img src="img/icon-2-hover.svg" class="hover yellow" alt="">
                    <img src="img/SVG-5.svg" alt="" class="white">
                    <img src="img/SVG-5h.svg" class="hover white" alt="">
                </div>
            </div>
        </div>
        <div class="list-item">
            <a href="card-product.html" class="link-page"></a>
            <span class="title">Кольца колодезные (КС)</span>
            <div class="content">
                <p>
                    Перемычки ПБ, ПП, ПГ используют в строительстве каменных, кирпичных домов для перекрытия проемов
                    окон, дверей и других технологических проемов.
                </p>
                <div class="image">
                    <img src="img/icon-2.svg" alt="" class="yellow">
                    <img src="img/icon-2-hover.svg" class="hover yellow" alt="">
                    <img src="img/SVG-6.svg" alt="" class="white">
                    <img src="img/SVG-6h.svg" class="hover white" alt="">
                </div>
            </div>
        </div>
        <div class="list-item">
            <a href="card-product.html" class="link-page"></a>
            <span class="title">Колодцы унифицированные (ВГ, ВС)</span>
            <div class="content">
                <p>
                    Перемычки ПБ, ПП, ПГ используют в строительстве каменных, кирпичных домов для перекрытия проемов
                    окон, дверей и других технологических проемов.
                </p>
                <div class="image">
                    <img src="img/icon-2.svg" alt="" class="yellow">
                    <img src="img/icon-2-hover.svg" class="hover yellow" alt="">
                    <img src="img/SVG-7.svg" alt="" class="white">
                    <img src="img/SVG-7h.svg" class="hover white" alt="">
                </div>
            </div>
        </div>
        <div class="list-item">
            <a href="card-product.html" class="link-page"></a>
            <span class="title">Лотки железобетонные
                (Л, П)</span>
            <div class="content">
                <p>
                    Перемычки ПБ, ПП, ПГ используют в строительстве каменных, кирпичных домов для перекрытия проемов
                    окон, дверей и других технологических проемов.
                </p>
                <div class="image">
                    <img src="img/icon-2.svg" alt="" class="yellow">
                    <img src="img/icon-2-hover.svg" class="hover yellow" alt="">
                    <img src="img/SVG-8.svg" alt="" class="white">
                    <img src="img/SVG-8h.svg" class="hover white" alt="">
                </div>
            </div>
        </div>
        <div class="list-item">
            <a href="card-product.html" class="link-page"></a>
            <span class="title">Лестничные ступени (ЛС)</span>
            <div class="content">
                <p>
                    Перемычки ПБ, ПП, ПГ используют в строительстве каменных, кирпичных домов для перекрытия проемов
                    окон, дверей и других технологических проемов.
                </p>
                <div class="image">
                    <img src="img/icon-2.svg" alt="" class="yellow">
                    <img src="img/icon-2-hover.svg" class="hover yellow" alt="">
                    <img src="img/SVG-9.svg" alt="" class="white">
                    <img src="img/SVG-9h.svg" class="hover white" alt="">
                </div>
            </div>
        </div>
        <div class="list-item">
            <a href="card-product.html" class="link-page"></a>
            <span class="title">Плиты плоские (ПТП)</span>
            <div class="content">
                <p>
                    Перемычки ПБ, ПП, ПГ используют в строительстве каменных, кирпичных домов для перекрытия проемов
                    окон, дверей и других технологических проемов.
                </p>
                <div class="image">
                    <img src="img/icon-2.svg" alt="" class="yellow">
                    <img src="img/icon-2-hover.svg" class="hover yellow" alt="">
                    <img src="img/SVG-10.svg" alt="" class="white">
                    <img src="img/SVG-10h.svg" class="hover white" alt="">
                </div>
            </div>
        </div>
        <div class="list-item">
            <a href="card-product.html" class="link-page"></a>
            <span class="title">Плиты перекрытий ребристые</span>
            <div class="content">
                <p>
                    Перемычки ПБ, ПП, ПГ используют в строительстве каменных, кирпичных домов для перекрытия проемов
                    окон, дверей и других технологических проемов.
                </p>
                <div class="image">
                    <img src="img/icon-2.svg" alt="" class="yellow">
                    <img src="img/icon-2-hover.svg" class="hover yellow" alt="">
                    <img src="img/SVG-11.svg" alt="" class="white">
                    <img src="img/SVG-11h.svg" class="hover white" alt="">
                </div>
            </div>
        </div>
        <div class="list-item">
            <a href="card-product.html" class="link-page"></a>
            <span class="title">Прогоны (ПРГ)</span>
            <div class="content">
                <p>
                    Перемычки ПБ, ПП, ПГ используют в строительстве каменных, кирпичных домов для перекрытия проемов
                    окон, дверей и других технологических проемов.
                </p>
                <div class="image">
                    <img src="img/icon-2.svg" alt="" class="yellow">
                    <img src="img/icon-2-hover.svg" class="hover yellow" alt="">
                    <img src="img/SVG-12.svg" alt="" class="white">
                    <img src="img/SVG-12h.svg" class="hover white" alt="">
                </div>
            </div>
        </div>
        <div class="list-item">
            <a href="card-product.html" class="link-page"></a>
            <span class="title">Плиты канальные (ВП)</span>
            <div class="content">
                <p>
                    Перемычки ПБ, ПП, ПГ используют в строительстве каменных, кирпичных домов для перекрытия проемов
                    окон, дверей и других технологических проемов.
                </p>
                <div class="image">
                    <img src="img/icon-2.svg" alt="" class="yellow">
                    <img src="img/icon-2-hover.svg" class="hover yellow" alt="">
                    <img src="img/SVG-13.svg" alt="" class="white">
                    <img src="img/SVG-13h.svg" class="hover white" alt="">
                </div>
            </div>
        </div>
        <div class="list-item">
            <a href="card-product.html" class="link-page"></a>
            <span class="title">Опорные подушки (ОП)</span>
            <div class="content">
                <p>
                    Перемычки ПБ, ПП, ПГ используют в строительстве каменных, кирпичных домов для перекрытия проемов
                    окон, дверей и других технологических проемов.
                </p>
                <div class="image">
                    <img src="img/icon-2.svg" alt="" class="yellow">
                    <img src="img/icon-2-hover.svg" class="hover yellow" alt="">
                    <img src="img/SVG-14.svg" alt="" class="white">
                    <img src="img/SVG-14h.svg" class="hover white" alt="">
                </div>
            </div>
        </div>
        <div class="list-item">
            <a href="card-product.html" class="link-page"></a>
            <span class="title">Плиты дорожные (ПД, ПДП)</span>
            <div class="content">
                <p>
                    Перемычки ПБ, ПП, ПГ используют в строительстве каменных, кирпичных домов для перекрытия проемов
                    окон, дверей и других технологических проемов.
                </p>
                <div class="image">
                    <img src="img/icon-2.svg" alt="" class="yellow">
                    <img src="img/icon-2-hover.svg" class="hover yellow" alt="">
                    <img src="img/SVG-15.svg" alt="" class="white">
                    <img src="img/SVG-15h.svg" class="hover white" alt="">
                </div>
            </div>
        </div>
        <div class="list-item">
            <a href="card-product.html" class="link-page"></a>
            <span class="title">Балки железобетонные
                (Б, БСД)</span>
            <div class="content">
                <p>
                    Перемычки ПБ, ПП, ПГ используют в строительстве каменных, кирпичных домов для перекрытия проемов
                    окон, дверей и других технологических проемов.
                </p>
                <div class="image">
                    <img src="img/icon-2.svg" alt="" class="yellow">
                    <img src="img/icon-2-hover.svg" class="hover yellow" alt="">
                    <img src="img/SVG-16.svg" alt="" class="white">
                    <img src="img/SVG-16h.svg" class="hover white" alt="">
                </div>
            </div>
        </div>
        <div class="list-item">
            <a href="card-product.html" class="link-page"></a>
            <span class="title">Каналы и тоннели
                (ПД, ПТ)</span>
            <div class="content">
                <p>
                    Перемычки ПБ, ПП, ПГ используют в строительстве каменных, кирпичных домов для перекрытия проемов
                    окон, дверей и других технологических проемов.
                </p>
                <div class="image">
                    <img src="img/icon-2.svg" alt="" class="yellow">
                    <img src="img/icon-2-hover.svg" class="hover yellow" alt="">
                    <img src="img/SVG-17.svg" alt="" class="white">
                    <img src="img/SVG-17h.svg" class="hover white" alt="">
                </div>
            </div>
        </div>
        <div class="list-item">
            <a href="card-product.html" class="link-page"></a>
            <span class="title">Забор железобетонный
                (ПО, ФО)</span>
            <div class="content">
                <p>
                    Перемычки ПБ, ПП, ПГ используют в строительстве каменных, кирпичных домов для перекрытия проемов
                    окон, дверей и других технологических проемов.
                </p>
                <div class="image">
                    <img src="img/icon-2.svg" alt="" class="yellow">
                    <img src="img/icon-2-hover.svg" class="hover yellow" alt="">
                    <img src="img/SVG-18.svg" alt="" class="white">
                    <img src="img/SVG-18h.svg" class="hover white" alt="">
                </div>
            </div>
        </div>
        <div class="list-item">
            <a href="card-product.html" class="link-page"></a>
            <span class="title">Опоры ЛЭП</span>
            <div class="content">
                <p>
                    Перемычки ПБ, ПП, ПГ используют в строительстве каменных, кирпичных домов для перекрытия проемов
                    окон, дверей и других технологических проемов.
                </p>
                <div class="image">
                    <img src="img/icon-2.svg" alt="" class="yellow">
                    <img src="img/icon-2-hover.svg" class="hover yellow" alt="">
                    <img src="img/SVG-19.svg" alt="" class="white">
                    <img src="img/SVG-19h.svg" class="hover white" alt="">
                </div>
            </div>
        </div>
        <div class="list-item">
            <a href="card-product.html" class="link-page"></a>
            <span class="title">Лестничные марши
                (ЛМ)</span>
            <div class="content">
                <p>
                    Перемычки ПБ, ПП, ПГ используют в строительстве каменных, кирпичных домов для перекрытия проемов
                    окон, дверей и других технологических проемов.
                </p>
                <div class="image">
                    <img src="img/icon-2.svg" alt="" class="yellow">
                    <img src="img/icon-2-hover.svg" class="hover yellow" alt="">
                    <img src="img/SVG-20.svg" alt="" class="white">
                    <img src="img/SVG-20h.svg" class="hover white" alt="">
                </div>
            </div>
        </div>
        <div class="list-item">

            <span class="title">Столбы ограждения
                (С, СТ)</span>
            <div class="content">
                <p>
                    Перемычки ПБ, ПП, ПГ используют в строительстве каменных, кирпичных домов для перекрытия проемов
                    окон, дверей и других технологических проемов.
                </p>
                <div class="image">
                    <img src="img/icon-2.svg" alt="" class="yellow">
                    <img src="img/icon-2-hover.svg" class="hover yellow" alt="">
                    <img src="img/SVG-21.svg" alt="" class="white">
                    <img src="img/SVG-21h.svg" class="hover white" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Первый вариант попапа Монтаж -->
<!-- <div class="popup-mounting">
    <span class="close"></span>
    <div class="heading">
        <div class="heading-title">
            <h2>Монтаж</h2>
        </div>
    </div>
    <div class="list">
        <h2>Заголовок второго уровня</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
        </p>
        <h4>Заголовок списка</h4>
        <ul>
            <li>1. текст списка</li>
            <li>2. текст списка</li>
            <li>3. текст списка</li>
            <li>4. текст списка</li>
        </ul>
        <h3>Заголовок третьего уровня</h3>
        <div class="text-and-img">
            <img src="img/img-6.png" alt="">
            <p>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                exea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit
                anim id est laborum.
            </p>
        </div>
    </div>
</div> -->